html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Raleway", sans-serif;

}

p {
    color: #fff;
    font-family: "Raleway", sans-serif;
}

#quienesSomos .titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: black;
}

#Destacados .titulo2 {

    margin-top: 2rem;
    margin-bottom: 2rem;

}

#Destacados .card {
    margin-left: 3rem;
    margin-right: 2rem;
}

#Contacto .titulo3 {

    margin-top: 2rem;
    margin-bottom: 2rem;

}

.formulario {
    margin-left: 5rem;
    margin-right: 5rem;
}

footer {
    margin-top: 2rem;


}

span {

    margin-left: 10rem;
    color: #fff;
    font-family: "Raleway", sans-serif;

}